* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
object,
embed {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: 0;
}

strong {
  font-family: pb;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

button {
  background-color: transparent;
}

:root {
  --white-cl: #ffffff;
  --black-cl: #000000;
  --grey-cl: #464646;
  --prim-cl: #BEA67C;
  --bg-header: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  --max-w-page: 2560px;
  --max-w-cfluid: 1920px;
  --max-w-container: 1252px;
  --fz-lv1: 8.4rem;
  --fz-lv2: 4.6rem;
  --fz-lv3: 1.8rem;
  --fz-btn: 1.5rem;
  --fz-text: 1.8rem;
  --fz-text-sm: 1.4rem;
  --fz-number: 3.8rem;
  --lh-text: 2.5rem;
  --lh-h2: 5.6rem;
  --lh-h3: 2.4rem;
  --ls-text: 0.36px;
  --ls-h1: 10.08px;
  --ls-h2: 4.6px;
  --ls-h3: 0.72px;
  --ls-btn: 1.5px;
  --ls-number: 2.28px;
  --ls-text-sm: 0.56px;
  --gap: 28px;
  --pd--section: 120px;
  --btn-dt: 0.2s;
}
@media screen and (max-width: 1199.98px) {
  :root {
    --max-w-container: 1140px;
  }
}
@media screen and (max-width: 991.98px) {
  :root {
    --max-w-container: 960px;
    --pd--section: 90px;
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    --max-w-container: 720px;
    --pd--section: 60px;
    --gap: 10px;
    --fz-lv1: 5.6rem;
    --fz-lv2: 3.8rem;
    --fz-lv3: 1.6rem;
    --fz-btn: 1.2rem;
    --fz-text: 1.5rem;
    --fz-text-sm: 1.2rem;
    --lh-text: 2rem;
    --lh-h2: 4.2rem;
    --lh-h3: 2.2rem;
  }
}
@media screen and (max-width: 575.98px) {
  :root {
    --max-w-container: 100%;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: var(--max-w-page);
  margin: auto;
  font-family: pr;
  font-size: var(--fz-text);
  line-height: var(--lh-text);
  letter-spacing: var(--ls-text);
  color: var(--black-cl);
}
body .container-fluid {
  width: 100%;
  max-width: var(--max-w-cfluid);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin: 0 auto;
  position: relative;
}
body .container {
  width: 100%;
  max-width: var(--max-w-container);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin: 0 auto;
  position: relative;
}
body .main {
  position: relative;
}
body .main section.--ptb {
  padding: var(--pd--section) 0;
}
body .main section.--pt {
  padding-top: var(--pd--section);
}
body .main section.--pb {
  padding-bottom: var(--pd--section);
}
@media screen and (max-width: 767.98px) {
  body .container-fluid,
  body .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.loading {
  display: none;
}

.btnmain {
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  text-transform: uppercase;
  height: 48px;
  padding: 0 28px;
  border: 1px solid var(--white-cl);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 12px;
}
.btnmain::before {
  content: "";
  height: 100%;
  width: 0;
  background-color: var(--prim-cl);
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}
.btnmain:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.heading.--lv1 {
  font-family: pb;
  font-size: var(--fz-lv1);
  line-height: normal;
  letter-spacing: var(--ls-h1);
  color: var(--prim-cl);
  text-transform: uppercase;
}
.heading.--lv3 {
  font-family: pb;
  font-size: var(--fz-lv3);
  line-height: var(--lh-h3);
  letter-spacing: var(--ls-h3);
  color: var(--black-cl);
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.textbox .heading {
  margin-bottom: 10px;
}
.textbox .heading.--lv2 {
  font-family: pb;
  font-size: var(--fz-lv2);
  line-height: normal;
  letter-spacing: var(--ls-h2);
  color: var(--black-cl);
  text-transform: uppercase;
}
.textbox .heading.--yellow {
  color: var(--prim-cl);
}
.textbox .heading.--white {
  color: var(--white-cl);
}
.textbox .more-btn {
  display: flex;
  gap: 8px;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--black-cl);
  text-transform: uppercase;
  position: relative;
  margin-top: 26px;
}
.textbox .more-btn::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--prim-cl);
  position: absolute;
  bottom: -6px;
  left: 0;
}
.textbox .btnvideo {
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 34px;
  height: 38px;
  border: 1px solid var(--white-cl);
  margin-top: 48px;
}
.textbox.--align-left {
  margin-left: 72px;
}
.textbox.--align-left .heading {
  position: relative;
  margin-bottom: 10px;
}
.textbox.--align-left .heading::before {
  content: "";
  width: 58px;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 24px;
  left: -72px;
}
.textbox.--align-right {
  position: relative;
  text-align: right;
  margin-right: 72px;
}
.textbox.--align-right .heading {
  position: relative;
  margin-bottom: 8px;
}
.textbox.--align-right .heading::after {
  content: "";
  width: 58px;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 24px;
  right: -72px;
}
.textbox.--align-center {
  position: relative;
  text-align: center;
}
.textbox.--align-center .des {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
}
.textbox.--align-center::before {
  content: "";
  width: 58px;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}

.des.--white {
  color: var(--white-cl);
}

.signup {
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}
.signup .container {
  height: 100%;
}
.signup .container .signup__form {
  background-color: var(--white-cl);
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 40px 51px 57px;
  position: relative;
}
.signup .container .signup__form .signup__form--closebtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background-color: var(--prim-cl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .container .signup__form .signup__form--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 18px;
}
.signup .container .signup__form .signup__form--top .social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px;
}
.signup .container .signup__form .signup__form--top .social .social__item {
  height: 46px;
  background-color: #4285F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .container .signup__form .signup__form--top .social .social__item span {
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  text-transform: uppercase;
}
.signup .container .signup__form .signup__form--top .social .social__item:last-child {
  background-color: #3C5A99;
}
.signup .container .signup__form .signup__form--top .optional {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.signup .container .signup__form .signup__form--top .optional::after {
  content: "";
  display: block;
  width: 33.3333333333%;
  height: 1px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 12px;
  left: 0;
  z-index: 1;
}
.signup .container .signup__form .signup__form--top .optional::before {
  content: "";
  display: block;
  width: 33.3333333333%;
  height: 1px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 12px;
  right: 0;
  z-index: 1;
}
.signup .container .signup__form .signup__form--bottom {
  display: grid;
  gap: 16px;
}
.signup .container .signup__form .signup__form--bottom .form__group {
  height: 46px;
  border: 1px solid var(--black-cl);
}
.signup .container .signup__form .signup__form--bottom .form__group input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.signup .container .signup__form .signup__form--bottom .form__group.--pw {
  position: relative;
}
.signup .container .signup__form .signup__form--bottom .form__group.--pw button {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 20px;
}
.signup .container .signup__form .signup__form--bottom .signup__btn {
  height: 48px;
  width: 100%;
  background-color: var(--prim-cl);
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
}
.signup.hide {
  display: none;
}

.header {
  background: var(--bg-header);
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 3;
}
.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.header .container-fluid .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .container-fluid .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .container-fluid .header__nav li a {
  display: flex;
  flex-direction: column;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
  padding: 5px 20px;
  cursor: pointer;
}
.header .container-fluid .header__nav li a.active {
  color: var(--prim-cl);
}
.header .container-fluid .header__nav li a.active::after {
  content: "";
  display: block;
  width: -moz-fit-content;
  height: 2px;
  background-color: var(--prim-cl);
}
.header .container-fluid .header__cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container-fluid .header__cta .header__cta--lang {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  height: 38px;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
}
.header .container-fluid .header__cta .header__cta--lang svg {
  margin-left: 2px;
}
.header .container-fluid .header__cta .header__cta--lang .dropdown {
  display: none;
}
.header .container-fluid .header__cta .header__cta--signup {
  background-color: var(--prim-cl);
  border: 1px solid var(--prim-cl);
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  height: 38px;
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--white-cl);
}
.header .container-fluid .header__cta .header__cta--signup:hover {
  background-color: transparent;
  border: 1px solid var(--white-cl);
}

nav {
  display: none;
}

.footer {
  background-color: var(--black-cl);
  color: var(--white-cl);
  height: 100px;
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
.footer .container .footer__copyright {
  font-family: pr;
  font-size: var(--fz-text-sm);
  line-height: normal;
  letter-spacing: var(--ls-text-sm);
  color: var(--white-cl);
  opacity: 0.5;
}
.footer .container .footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.footer .container .footer__backtotopbtn {
  background-color: var(--grey-cl);
  border: 1px solid var(--white-cl);
  height: 33px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 32px;
  right: 40px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.footer .container .footer__backtotopbtn.show {
  opacity: 1;
  visibility: visible;
}
.footer .container .footer__backtotopbtn:hover {
  background-color: var(--prim-cl);
}

.main .hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main .hero .hero__slider {
  height: 100%;
}
.main .hero .hero__slider .hero__slider--item {
  height: 100%;
}
.main .hero .hero__slider .hero__slider--item .content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.main .hero .hero__slider .hero__slider--item picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.main .hero .hero__slider .hero__slider--item picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .hero .hero__bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.main .hero .hero__bottom .container-fluid {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main .hero .hero__bottom .container-fluid .hero__bottom--paging {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .hero .hero__bottom .container-fluid .hero__bottom--paging .number {
  font-family: pb;
  font-size: var(--fz-number);
  line-height: normal;
  letter-spacing: var(--ls-number);
  color: var(--prim-cl);
}
.main .hero .hero__bottom .container-fluid .hero__bottom--mouse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 9px;
}
.main .hero .hero__bottom .container-fluid .hero__bottom--controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .hero .hero__bottom .container-fluid .hero__bottom--controls .controls__btn {
  height: 34px;
  padding: 0 18px;
  border: 1px solid var(--white-cl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero .hero__bottom .container-fluid .hero__bottom--controls .controls__btn.--btn-prev {
  transform: rotate(180deg);
  margin-right: -1px;
}
.main .products .container {
  display: grid;
  gap: 70px;
}
.main .products .container .products__cate {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 28px;
}
.main .products .container .products__cate .textbox {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .products .container .products__cate .products__cate--thumb {
  grid-column: 6/13;
}
.main .products .container .products__cate .products__cate--thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .products .container .products__cate:last-child .textbox {
  grid-column: 8/13;
  grid-row: 1/2;
  align-items: flex-end;
}
.main .products .container .products__cate:last-child .products__cate--thumb {
  grid-column: 1/8;
  grid-row: 1/2;
}
.main .videos .videos__thumb {
  display: flex;
  justify-content: space-evenly;
  margin-top: 64px;
}
.main .videos .videos__thumb .videos__thumb--detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .videos .videos__thumb .videos__thumb--detail .detail__img {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 12px solid var(--white-cl);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  aspect-ratio: 1/1;
}
.main .videos .videos__thumb .videos__thumb--detail .detail__img .detail__img--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.main .videos .videos__thumb .videos__thumb--detail .detail__img .detail__img--bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
}
.main .videos .videos__thumb .videos__thumb--detail .title {
  margin-top: 38px;
  position: relative;
}
.main .videos .videos__thumb .videos__thumb--detail .title::before {
  content: "";
  width: 29px;
  height: 3px;
  background-color: var(--prim-cl);
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%);
}
.main .videos .videos__thumb .videos__thumb--detail:hover .detail__img--bg {
  transform: scale(1.1);
}
.main .banner {
  padding: 186px 0;
  position: relative;
}
.main .banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black-cl);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.main .banner .textbox .des {
  max-width: 41.6666666667%;
}
.main .about .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 28px;
}
.main .about .container .about__thumb {
  grid-column: 1/8;
}
.main .about .container .about__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .about .container .textbox {
  grid-column: 8/13;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .gallery {
  background-color: var(--black-cl);
}
.main .gallery .textbox .des {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.main .gallery .gallery__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  margin-top: 41px;
}
.main .gallery .gallery__list .gallery__list--item {
  aspect-ratio: 380/260;
}
.main .gallery .gallery__list .gallery__list--item a {
  display: flex;
  overflow: hidden;
}
.main .gallery .gallery__list .gallery__list--item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .gallery .gallery__list .gallery__list--item:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}
.main .gallery .gallery__list .gallery__list--item:nth-child(3) {
  aspect-ratio: 380/550;
  grid-row: 1/3;
  grid-column: 2/3;
}
.main .news .textbox .des {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.main .news .news__tabs {
  display: flex;
  margin-top: 40px;
  margin-bottom: 35px;
}
.main .news .news__tabs .news__tabs--item {
  padding: 0 16px;
  height: 38px;
  border: 1px solid var(--prim-cl);
  font-family: pb;
  font-size: var(--fz-btn);
  line-height: normal;
  letter-spacing: var(--ls-btn);
  color: var(--prim-cl);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .news .news__tabs .news__tabs--item.active {
  background-color: var(--prim-cl);
  color: var(--white-cl);
}
.main .news .news__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.main .news .news__list .news__list--item {
  display: flex;
  flex-direction: column;
  gap: 31px;
}
.main .news .news__list .news__list--item .item__img {
  display: flex;
  overflow: hidden;
  aspect-ratio: 380/237;
}
.main .news .news__list .news__list--item .item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--btn-dt);
  -webkit-transition: var(--btn-dt);
}
.main .news .news__list .news__list--item .item__info {
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main .news .news__list .news__list--item .item__info .heading a {
  color: var(--black-cl);
}
.main .news .news__list .news__list--item .item__info .item__info--des {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .news .news__list .news__list--item .item__info::before {
  content: "";
  width: 35px;
  height: 3px;
  background-color: var(--prim-cl);
  position: absolute;
  left: 0;
  top: -11px;
}
.main .news .news__list .news__list--item:hover img {
  transform: scale(1.1);
}
.main .carousel {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main .carousel .carousel__img {
  display: flex;
  gap: 28px;
}
.main .carousel .carousel__progress {
  width: 130px;
  height: 5px;
  background-color: var(--black-cl);
  position: relative;
  margin: 0 auto;
}
.main .carousel .carousel__progress span {
  width: 35%;
  height: 5px;
  background-color: var(--prim-cl);
  position: absolute;
  top: 0;
  left: 0;
}/*# sourceMappingURL=style.css.map */