html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    body {
        width: 100%;
        max-width: var(--max-w-page);
        margin: auto;
        font-family: pr;
        font-size: var(--fz-text);
        line-height: var(--lh-text);
        letter-spacing: var(--ls-text);
        color: var(--black-cl);

        .container-fluid {
            width: 100%;
            max-width: var(--max-w-cfluid);
            padding-left: var(--pd--cfluid);
            padding-right: var(--pd--cfluid);
            margin: 0 auto;
            position: relative;
        }

        .container {
            width: 100%;
            max-width: var(--max-w-container);
            padding: 0 var(--pd--container);
            margin: 0 auto;
            position: relative;
        }

        .main {
            position: relative;

            section {
                &.--ptb {
                    padding: var(--pd--section) 0;
                }

                &.--pt {
                    padding-top: var(--pd--section);
                }

                &.--pb {
                    padding-bottom: var(--pd--section);
                }
            }
        }
    }
}