.main {
    .hero {
        height: 100vh;
        overflow: hidden;
        position: relative;

        .hero__slider {
            height: 100%;

            .hero__slider--item {
                height: 100%;

                .content {
                    height: 100%;
                    @include flexCenter;
                    flex-direction: column;
                    gap: 16px;
                }

                picture {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;

                    img {
                        @include images;
                    }
                }
            }
        }

        .hero__bottom {
            position: absolute;
            bottom: 20px;
            width: 100%;

            .container-fluid {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .hero__bottom--paging {
                    @include flexCenter(flex, center, flex-end);

                    .number {
                        @include formatText(pb, var(--fz-number), normal, var(--ls-number), var(--prim-cl));
                    }
                }

                .hero__bottom--mouse {
                    @include flexCenter;
                    flex-direction: column;
                    gap: 9px;
                }

                .hero__bottom--controls {
                    @include flexCenter(flex, center, flex-end);

                    .controls__btn {
                        height: 34px;
                        padding: 0 18px;
                        border: 1px solid var(--white-cl);
                        @include flexCenter;

                        &.--btn-prev {
                            transform: rotate(180deg);
                            margin-right: -1px;
                        }
                    }
                }
            }
        }

    }

    .products {
        .container {
            display: grid;
            gap: 70px;

            .products__cate {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                gap: 28px;

                .textbox {
                    grid-column: 1/6;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .products__cate--thumb {
                    grid-column: 6/13;

                    img {
                        @include images;
                    }
                }
            }

            .products__cate:last-child {
                .textbox {
                    grid-column: 8/13;
                    grid-row: 1/2;
                    align-items: flex-end;
                }

                .products__cate--thumb {
                    grid-column: 1/8;
                    grid-row: 1/2;
                }
            }
        }

    }

    .videos {
        .videos__thumb {
            display: flex;
            justify-content: space-evenly;
            margin-top: 64px;

            .videos__thumb--detail {
                @include flexCenter;
                flex-direction: column;

                .detail__img {
                    position: relative;
                    display: flex;
                    width: fit-content;
                    border-radius: 50%;
                    border: 12px solid var(--white-cl);
                    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
                    overflow: hidden;
                    aspect-ratio: 1/1;

                    .detail__img--icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 3;
                    }

                    .detail__img--bg {
                        @include images;
                        @include durationTime(var(--btn-dt));
                    }
                }

                .title {
                    margin-top: 38px;
                    position: relative;

                    &::before {
                        content: '';
                        width: 29px;
                        height: 3px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        top: -15px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }

                &:hover .detail__img--bg {
                    transform: scale(1.1);
                }
            }
        }
    }

    .banner {
        padding: 186px 0;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: var(--black-cl);
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
        }

        .textbox {
            .des {
                max-width: calc((100%*5)/12);
            }
        }
    }

    .about {
        .container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 28px;

            .about__thumb {
                grid-column: 1/8;

                img {
                    @include images;
                }
            }

            .textbox {
                grid-column: 8/13;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .gallery {
        background-color: var(--black-cl);

        .textbox {
            .des {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;
            }
        }

        .gallery__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px;
            margin-top: 41px;

            .gallery__list--item {
                aspect-ratio: 380/260;

                a {
                    display: flex;
                    overflow: hidden;

                    img {
                        @include images;
                    }
                }
            }

            .gallery__list--item:nth-child(2) {
                grid-row: 2/3;
                grid-column: 1/2;
            }

            .gallery__list--item:nth-child(3) {
                aspect-ratio: 380/550;
                grid-row: 1/3;
                grid-column: 2/3;
            }
        }
    }

    .news {
        .textbox {
            .des {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 28px;
            }
        }

        .news__tabs {
            display: flex;
            margin-top: 40px;
            margin-bottom: 35px;

            .news__tabs--item {
                padding: 0 16px;
                height: 38px;
                border: 1px solid var(--prim-cl);
                @include formatText(pb, var(--fz-btn), normal, var(--ls-btn), var(--prim-cl));
                text-transform: uppercase;
                @include flexCenter;

                &.active {
                    background-color: var(--prim-cl);
                    color: var(--white-cl);
                }
            }
        }

        .news__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 28px;

            .news__list--item {
                display: flex;
                flex-direction: column;
                gap: 31px;

                .item__img {
                    display: flex;
                    overflow: hidden;
                    aspect-ratio: 380/237;

                    img {
                        @include images;
                        @include durationTime(var(--btn-dt));
                    }
                }

                .item__info {
                    height: 127px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;

                    .heading {
                        a {
                            color: var(--black-cl);
                        }
                    }

                    .item__info--des {
                        @include overText(3);
                    }

                    &::before {
                        content: '';
                        width: 35px;
                        height: 3px;
                        background-color: var(--prim-cl);
                        position: absolute;
                        left: 0;
                        top: -11px;
                    }
                }

                &:hover img {
                    transform: scale(1.1);
                }
            }

        }
    }

    .carousel {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .carousel__img {
            display: flex;
            gap: 28px;

        }

        .carousel__progress {
            width: 130px;
            height: 5px;
            background-color: var(--black-cl);
            position: relative;
            margin: 0 auto;

            span {
                width: 35%;
                height: 5px;
                background-color: var(--prim-cl);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}